<html>
<body>
<h1 style="text-align: center; color: brown;">Predict profit on the basis of RND and MKT</h1>

<div style="text-align: center; color: greenyellow;">
<form action="/predict" method="POST">
<h2><label for="RND">Amount Spent in RND </label>
<input type="text" id="RND" name="RND">btw:[0-300000]</h2><br>
<br>
<br>
<h2><label for="MKT">Amount Spent in MKT </label>
<input type="text" id="MKT" name="MKT">btw:[0-200000]</h2><br>
<br>
<br>
<input style="color: green;" type="submit" value="Submit" >
<br>
</form>
</div>
</body>
</html>
